* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 250px 1fr;
}

/*Header*/
header {
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 4fr 2fr;
    padding: 1rem 2rem;
}
.searchBarContainer {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    margin-bottom: 1.5rem;
    outline: 1px purple dashed;
}
.searchBar {
    background-color: #e9e9e9;
    border-radius: 20px;
    border: 0;
    outline: 0;
    padding: 4px;
    width: 500px;
}

.userControls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 20px;
}
.userControls img {
    width: 30px;
}

.userProfile {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 10px;
    align-items: center;
}
.userProfile div {
    grid-row: 1 / 5;
}
.profileImage {
    grid-row: 1 / 5;
    width: 100%;

    border-radius: 100%;
}
.contentButtons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    max-width: 400px;
}
.contentButtons button {
    background-color: #1992d4;
    color: #fff;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-weight: 600;
}
/*Sidebar*/
aside {
    background-color: #1992d4;
    color: #fff;
    grid-row: 1 / 5;
}

.branding {
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    padding: 1rem;
}
.primary-nav,
.secondary-nav {
    display: grid;
    gap: 20px;
}
.primary-nav {
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.nav-item {
    display: flex;
    justify-content: left;
    gap: 20px;
    padding-left: 20px;
}

/*Main Area */
.container {
    border: 1px solid green;
    background-color: #e2e8f0;
    padding: 1rem;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.projectCard {
    background-color: #fff;
}
