* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 250px 1fr;
}

header {
    border: 1px solid blue;
    grid-column: 2/-1;
}
.container {
    border: 1px solid green;
    background-color: #e2e8f0;
}

/*Sidebar*/
aside {
    background-color: #1992d4;
    color: #fff;
    grid-row: 1 / 5;
}

.branding {
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    padding: 1rem;
}
.primary-nav,
.secondary-nav {
    display: grid;
    gap: 20px;
}
.primary-nav {
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.nav-item {
    display: flex;
    justify-content: left;
    gap: 20px;
    padding-left: 20px;
}
